

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

h3 {
  margin: 40px 0;
}

.try-it-out {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}

.try-it-out frc-checkbox-group {
  margin-top: 20px;
  display: block;
}

.try-it-out label {
  font-size: 17px;
  font-family: sans-serif;
  color:#555;
  margin-bottom: 15px;
  display: block;
}

.try-it-out frc-text-view {
  width: 200px;
  margin-bottom: 20px;
  display: block;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

pre {
  margin: 30px 0;
}

fwc-home-page, fwc-component-page {
  display: none;
}