
<html>
  <head>
    <title>Radio Group</title>
    <link rel="stylesheet" type="text/css" href="../../styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
    <script src="https://unpkg.com/@webcomponents/webcomponentsjs@next/webcomponents-loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
  </head>
  <body>
    <fwc-component-page component-name="Radio Group">
      <style>
        frc-radio-group {
          display: block;
        }
      </style>

      <code-sample title="With basic attributes">
        <frc-radio-group value="3">
          <frc-radio-button value="1">One</frc-radio-button>
          <frc-radio-button value="2">Two</frc-radio-button>
          <frc-radio-button value="3">Three</frc-radio-button>
        </frc-radio-group>

        <frc-radio-group label="Label">
          <frc-radio-button value="1">One</frc-radio-button>
          <frc-radio-button value="2" checked>Two</frc-radio-button>
          <frc-radio-button value="3">Three</frc-radio-button>
        </frc-radio-group>
      </code-sample>

      <code-sample title="With disabled and read-only attributes">
        <frc-radio-group label="Disabled" disabled>
          <frc-radio-button value="1" checked>One</frc-radio-button>
          <frc-radio-button value="2">Two</frc-radio-button>
          <frc-radio-button value="3">Three</frc-radio-button>
        </frc-radio-group>

        <frc-radio-group label="Single disabled radio">
          <frc-radio-button value="1" checked>One</frc-radio-button>
          <frc-radio-button disabled value="2">Two</frc-radio-button>
          <frc-radio-button value="3">Three</frc-radio>
        </frc-radio-group>

        <frc-radio-group label="Read-only" readonly>
          <frc-radio-button value="1" checked>One</frc-radio-button>
          <frc-radio-button value="2">Two</frc-radio-button>
          <frc-radio-button value="3">Three</frc-radio-button>
        </frc-radio-group>
      </code-sample>

      <code-sample title="With theme attribute">
        <frc-radio-group value="1" label="Horizontal" theme="horizontal">
          <frc-radio-button value="1">One</frc-radio-button>
          <frc-radio-button value="2">Two</frc-radio-button>
          <frc-radio-button value="3">Three</frc-radio-button>
        </frc-radio-group>
      </code-sample>
      
      <code-sample title="With multi-line labels">
        <frc-radio-group>
          <frc-radio-button checked value="1">
            <b>Option one</b>
            <div>Description</div>
          </frc-radio-button>
        
          <frc-radio-button value="2">
            <b>Option two</b>
            <div>Description</div>
          </frc-radio-button>
        
          <frc-radio-button disabled value="3">
            <b>Option three</b>
            <div>Description</div>
          </frc-radio-button>
        </frc-radio-group>
      </code-sample>

      <code-sample title="Validation attributes">
        <frc-radio-group label="Required" required error-message="Please choose one option">
          <frc-radio-button value="1">One</frc-radio-button>
          <frc-radio-button value="2">Two</frc-radio-button>
          <frc-radio-button value="3">Three</frc-radio-button>
        </frc-radio-group>
      </code-sample>

      <code-sample title="With NetworkTables">
        <nt-string key="/string" value="1"></nt-string>

        <frc-radio-group source-key="/string">
          <frc-radio-button value="1">One</frc-radio-button>
          <frc-radio-button value="2">Two</frc-radio-button>
          <frc-radio-button value="3">Three</frc-radio-button>
        </frc-radio-group>

        <nt-string key="/group/value" value="3"></nt-string>
        <nt-string key="/group/label" value="Label"></nt-string>
        <nt-string key="/group/theme" value="vertical"></nt-string>
        <nt-boolean key="/group/disabled" value="false"></nt-boolean>
        <nt-boolean key="/group/readonly" value="false"></nt-boolean>
        <nt-boolean key="/group/required" value="true"></nt-boolean>
        <nt-string key="/group/errorMessage" value="It's Required!"></nt-string>

        <frc-radio-group source-key="/group">
          <frc-radio-button value="1">One</frc-radio-button>
          <frc-radio-button value="2">Two</frc-radio-button>
          <frc-radio-button value="3">Three</frc-radio-button>
        </frc-radio-group>
      </code-sample>

      <code-sample title="With attributes and NetworkTables">
        <nt-string key="/group2/value" value="2"></nt-string>
        <nt-string key="/group2/theme" value="horizontal"></nt-string>

        <frc-radio-group source-key="/group2" disabled label="Label">
          <frc-radio-button value="1">One</frc-radio-button>
          <frc-radio-button value="2">Two</frc-radio-button>
          <frc-radio-button value="3">Three</frc-radio-button>
        </frc-radio-group>
      </code-sample>

      <code-sample title="With styles">

        <style>
          .with-styles::part(label) {
            font-family: monospace;
            font-size: 20px;
          }

          .with-styles::part(error-message) {
            letter-spacing: 5px;
            color: darkorange;
          }
        </style>

        <frc-radio-group label="Label" required error-message="Required" value="" class="with-styles">
          <frc-radio-button value="1">One</frc-radio-button>
          <frc-radio-button value="2">Two</frc-radio-button>
          <frc-radio-button value="3">Three</frc-radio-button>
        </frc-radio-group>
      </code-sample>

      <!-- code for "Try it out" section -->
      <h3>Try it out!</h3>

      <nt-string key="/playground/value" value="1"></nt-string>
      <nt-string key="/playground/label" value="Label"></nt-string>
      <nt-string key="/playground/theme" value="vertical"></nt-string>
      <nt-boolean key="/playground/disabled" value="false"></nt-boolean>
      <nt-boolean key="/playground/readonly" value="false"></nt-boolean>
      <nt-boolean key="/playground/required" value="true"></nt-boolean>
      <nt-string key="/playground/errorMessage" value="This is required"></nt-string>

      <frc-radio-group source-key="/playground">
        <frc-radio-button value="1">One</frc-radio-button>
        <frc-radio-button value="2">Two</frc-radio-button>
        <frc-radio-button value="3">Three</frc-radio-button>
      </frc-radio-group>

      <div class="try-it-out">

        <frc-text-field 
          label="Value" 
          theme="small" 
          source-key="/playground/value"
        ></frc-text-field>

        <frc-text-field 
          label="Label" 
          theme="small" 
          source-key="/playground/label"
        ></frc-text-field>

        <frc-text-field 
          label="Theme" 
          theme="small" 
          source-key="/playground/theme"
        ></frc-text-field>

        <frc-text-field 
          label="Error Message" 
          theme="small" 
          source-key="/playground/errorMessage"
        ></frc-text-field>
        
        <frc-checkbox-group theme="horizontal">
          <frc-checkbox source-key="/playground/disabled" value="1">Disabled</frc-checkbox>
          <frc-checkbox source-key="/playground/readonly" value="2">Read-only</frc-checkbox>
          <frc-checkbox source-key="/playground/required" value="3">Required</frc-checkbox>
        </frc-checkbox-group>
      </div>

    </fwc-component-page>
    <script src="../../component-page.js" type="module"></script>
  </body>
</html>