
<html>
  <head>
    <title>3-Axis Accelerometer</title>
    <link rel="stylesheet" type="text/css" href="../../styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
    <script src="https://unpkg.com/@webcomponents/webcomponentsjs@next/webcomponents-loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
  </head>
  <body>
    <fwc-component-page component-name="3-Axis Accelerometer">
      
    </fwc-component-page>
    <script src="../../component-page.js" type="module"></script>
  </body>
</html>